.aboutCard {
    display: flex-column;
    justify-content: wrap;
    align-items: center;
    width: 50%;
    margin: 15px auto;
    width: 410px;
    height: 320px;
    background-image: radial-gradient(#e63f10, #692fbd);
    border-radius: 4px;
    max-width: 410px;
}

p {
    display: flex;
    justify-content: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    margin: 0 15px 0 15px;
    padding-top: 20px;

}

.title {
    display: flex-column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#e63f10, #692fbd);
    padding: 15px;
    font-size: 40px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 10px auto;
    color: whitesmoke;
    text-shadow: 3px 3px 5px #3e166f;
    border-radius: 4px;
    width: 410px; 
}

@media (min-width: 1300px) {
    .aboutCard {
        width: 820px;
        height: 500px;
        max-width: 820px;
        margin-bottom: 120px;
    }
    p {
        font-size: 30px;
    }
    .title {
        font-size: 70px;
        width: 820px; 
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 5cd632c (lots of changes)
