.landingCard {
    display: flex-column;
    justify-content: wrap;
    align-items: center;
    width: 50%;
    margin: 15px auto;
    width: 410px;
    height: 320px;
    background-image: radial-gradient(#e63f10, #692fbd);
    border-radius: 4px;
}

.welcome {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    text-shadow: 3px 3px 5px #3e166f;
    padding-top: 40px;
}

@media (min-width: 1300px) {
    .landingCard {
        width: 820px;
        height: 500px;
        margin-bottom: 120px;
    }
    .welcome {
        font-size: 60px;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 5cd632c (lots of changes)
