  .navbar {
    display: flex;
    justify-content: center;
    height: 80px;
    color: rgb(209, 25, 25);
    font-size: 15px;
  }
  
  .navbar ul {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 5;
    margin-left: -30px;
  }

  .navbar ul li {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0px 15px;
    list-style-type: none;
  }

  .name {
    display: flex;
    justify-content: center;
    background-image: radial-gradient(#002057, #424A57);
    padding: 15px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: whitesmoke;
    text-shadow: 3px 3px 5px rgba(0, 128, 0, 1);
    border-radius: 4px;
  }

  .picture {
    justify-content: center;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 50%;
    position: static;
    min-height: 140px;
    min-width: 170px;
    max-height: 500px;
    max-width: 250px;
  }