.portfolioCard {
    display: flex-column;
    justify-content: wrap;
    align-items: center;
    width: 50%;
    margin: 15px auto;
    width: 410px;
    height: 320px;
    background-image: radial-gradient(#002057, #424A57);
    border-radius: 4px;
    overflow: scroll;
}

.imageContainer {
    display: flexbox;
    flex-direction: column;

  }

img {
    padding: 20px;
    width: 350px;
    height: 200px;
  }