  .navbar {
    display: flex;
    background: #012b39;
    height: 80px;
    color: whitesmoke;
    font-size: 40px;
    height: 100px;
  }
  
  .navbar ul {
    display: flex;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 60px;
    line-height: 3;
    text-align: right;
  }

  .navbar ul li {
    display: flex;
    justify-content: right;
    font-size: 30px;
    margin: 0px 15px;
    list-style-type: none;
  }

  .name {
    font-size: 40px;
    margin-left: 150px;
    color: whitesmoke;
  }