  .navbar {
    display: flex;
    justify-content: right;
    background: #012b39;
    height: 60px;
  }
  
  .navbar ul {
    display: flex;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 60px;
    line-height: 3;
    text-align: right;
  }

  .navbar ul li {
    margin: 0px 10px 0px 30px;
    list-style-type: none;
  }