.navbar {
    display: flex;
    justify-content: center;
    background: #0077B6;
    height: 60px;
  }
  
  .navbar a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }
  